:root {
    --black: #000000;
    --gray: #333333;
    --light-gray: #a5a5a5;
    --box-shadow: rgba(254, 150, 5, 0.76);
    --orange: #fe9505;
    --font-color: #fffdfa;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.disable-select {
    user-select: none;
    /* supported by Chrome and Opera */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
}


body {
    background-color: var(--gray);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
 
}

.container {
    width: 350px;
    height: 590px;
    background-color: var(--black);
    padding: 10px;
    border-radius: 5px;
    box-shadow: var(--gray) 0px 2px 4px;
}

.btn {
    width: 70px;
    height: 70px;
    border: none;
    border-radius: 50%;
    margin: 5px;
       font-size: 30px;
       font-weight: bold;
}

.btn:hover{
    transform: scale(1.08);
    cursor: pointer;
}

.display {
    height: 160px;
    color: var(--font-color);
    display: flex;
    flex-direction: column;    
    word-wrap: break-word;
    word-break: break-all;
    margin: 5px;
}

.display-top {
    display: grid;
    grid-template-columns: 30px 1fr;    
}


#small-display {
    font-size: 25px;
    color: var(--light-gray);
    justify-self: end;
    align-self: center;
    height: 60px;
    overflow: auto;
    padding-left: 5px;
}

#big-display {
    height: 120px; 
     font-size: 45px;
    align-self: flex-end;
    justify-self: flex-end;

}

#big-display span {
    margin-top: auto;
}

.result {
    height: 60px;
    font-size: 25px;
    color: var(--orange);
}

#top-display {
    height: 20px;

}

.row{
    display: flex;
    justify-content: space-between;
}

#zero {
    width: 150px;
    border-radius: 40px;
}
.row .btn:last-child{
    background-color: var(--orange);
    color: var(--font-color);
}

.row1 .btn {
    background-color: var(--light-gray);
    color: rgb(32, 24, 24);
}
.row2 .btn, .row3 .btn, .row4 .btn, .row5 .btn {
     background-color: var(--gray);
     color: var(--font-color);
}

.footer {
    color: var(--font-color);
    font-size: 25px;
    /* margin-top: 50px; */
    position: relative;
    top: 8%;
}

.footer a {
    text-decoration: none;
    color: var(--orange) ;
}